.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(86, 86, 86, 0.31);
}

.modal__content {
  background-color: white;
  min-width: 300px;
  min-height: 400px;
}
