.table__item {
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: var(--main-color) !important;
  border-width: 2px;
  border-style: solid;
}

.item__body {
  width: 100%;
}

.item__image {
  max-width: 250px;
  height: 200px;
}

.item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.item__info {
  flex-grow: 2;
}