.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.form__image {
  height: 100px;
  object-fit: cover;
}

.form__image img {
  height: 100%;
}

#form__describe {
  height: 200px;
}

#form__description {
  height: 347px;
}